@{
    ViewBag.Title = "Home Page";
}

<section class="parallax" id="home">
    <h1>Welcome to Our Diamond World</h1>
</section>
<section class="content" id="about">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</section>
<section class="parallax" id="diamonds">
    <h1>Explore Our Diamonds</h1>
</section>
<section class="content" id="contact">
    <h2>Contact Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</section>