@model LoginTest.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}

<!-- Include stylesheets and scripts -->
<link href="~/Content/AdminLTE/plugins/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/alertify.min.css" rel="stylesheet" />
<link href="~/Content/Login.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/AdminLTE/plugins/select2/js/select2.min.js"></script>
<script src="~/Content/alertify.min.js"></script>
<link href="~/Content/ReserPwd.css" rel="stylesheet" />
@*<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #f0f2f5;
        margin: 0;
        background: linear-gradient(120deg, #1e3c72, #2a5298);
        background-size: 400% 400%;
        animation: gradientShift 15s ease infinite;
        height: 100vh;
        overflow: hidden;
    }

    .container {
        max-width: 350px;
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
        border-radius: 40px;
        padding: 25px 35px;
        border: 5px solid rgb(255, 255, 255);
        box-shadow: rgba(133, 189, 215, 0.878) 0px 30px 30px -20px;
        margin: 20px;
    }

    .error-message {
        color: red;
        margin-bottom: 10px;
        text-align: center;
    }

    .text-success {
        color: darkseagreen;
    }

    .req:after {
        content: "*";
        color: red;
    }

    .text-danger {
        color: red;
    }
</style>*@

<html>
<body>
    <div class="container">

        @if (TempData["Error"] != null)
        {
            <script>
                alertify.error('@TempData["Error"]');
            </script>
        }

        <div class="heading">Reset Password</div>
        <form action="@Url.Action("ConfirmResetPassword", "Home")" method="post" class="form">

            <input required class="input" type="text" name="Token" value="@Model.Token" readonly>

            <div class="form-group" style="margin-top: 0.25rem;">
                <label for="password" class="control-label req">
                    Password
                    <span id="togglePassword" style="cursor: pointer;">
                        <i class="fa fa-eye"></i>
                    </span>
                </label>
                <input type="password" id="password" class="input form-control" maxlength="30" placeholder="Password" tabindex="14" name="Password" required>
                <div id="pass_Validation" class="text-danger" style="display:none;">Password must be 8-30 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.</div>
            </div>

            <div class="form-group" style="margin-top: 0.25rem;">
                <label for="retypePassword" class="control-label req">
                    Re-Type Password
                    <span id="toggleRePassword" style="cursor: pointer;">
                        <i class="fa fa-eye"></i>
                    </span>
                </label>
                <input type="password" id="retypePassword" class="input form-control" maxlength="30" placeholder="Re-Type Password" tabindex="15" name="ReType_Password" required>
                <div id="passwordMessage" class="text-success" style="display:none;">Password Matched!</div>
                <div id="passwordMismatch" class="text-danger" style="display:none;">Please ensure both passwords are identical.</div>
            </div>

            <input class="login-button" type="submit" value="Reset Password">
        </form>
    </div>
    <script src="~/AllJs/ResetPwd.js"></script>
</body>
</html>
